# this config assumes a sqlite database named 'orthomcl_sqliteTEST'.
# adjust according to your situation.
dbVendor=sqlite
dbConnectString=DBI:SQLite:orthomcl_sqliteTEST
dbLogin=none
dbPassword=none
similarSequencesTable=SimilarSequences
orthologTable=Ortholog
inParalogTable=InParalog
coOrthologTable=CoOrtholog
interTaxonMatchView=InterTaxonMatch
percentMatchCutoff=50
evalueExponentCutoff=-5
oracleIndexTblSpc=NONE
